{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">   

    <title>Week Manager</title>
</head>
<body>
    <header>
        <h1>Week Manager</h1>
    </header>
    
    <nav>
        <button id="add-btn" class="btn btn-outline-success">+ Add</button>
    </nav>

    <main>
        {% if messages %}
            {% for message in messages %}
                <h4 class="{{message.level_tag}}-message">{{message}}</h4>
            {% endfor %}
        {% endif %}

        {% for day in days %}
            <section class="day">
                <h2>{{day}}</h2>

                {% if day.activity_set.all %}
                    {% for activity in day.activity_set.all %}
                        <div class="activity">
                            <div class="activity-text">
                                <p>{{activity}}</p>
                                <p>{{activity.category}}</p>
                            </div>

                            <div class="activity-buttons">
                                <img class="delete-btn" src="{% static 'home/img/delete.png' %}">
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No activities for this day yet.</p>
                {% endif %}



                <!-- <p>Category 1 total time: xh</p>
                <p>Category 2 total time: yh</p>
                <p>Total time: x+yh</p>
                <p>Calculated free time: zh</p> -->
            </section>
            <hr>
        {% endfor %}
       
    </main>

    <footer></footer>

    <div id="shadow-panel" class="hidden"></div>
    <div id="form-panel">
        <img class="close-form-btn" src="{% static 'home/img/delete.png' %}" alt="close button">
        <form id="activity-form" method="POST">
            {% csrf_token %}
            <div>
              <label for="title" class="form-label">Title:</label>
              <input type="text" class="form-control" id="title" name="title" >
            </div>
            <div>
              <label for="" class="form-label">Category</label>
              <select class="form-control" id="category" name="category">
                {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
              </select>
            </div>
            <div>
                <label for="date">Date:</label><br/>
                <select class="form-control" id="date" name="date">
                    {% for day in days %}
                        <option value="{{day.id}}">{{day}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <div id="from-to">
                    <div id="from">
                        <label for="time-start">From:</label><br/>
                        <input type="time" id="time-start" name="fr0m"  ><br/>
                    </div>
                    <div id="to">
                        <label for="time-end">To:</label><br/>
                        <input type="time" id="time-end" name="to" >
                    </div>
                </div>
            </div>
            <button id="ok-btn" type="submit" class="btn btn-outline-success">OK</button>
          </form>
    </div>

    <script src="{% static 'home/js/jquery-min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{% static 'home/js/home.js' %}"></script>
    <script src="{% static 'home/js/home-forms.js' %}"></script>
    
</body>
</html>